# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db
